In [75]:
import pandas as pd
from google.oauth2 import service_account
from googleapiclient.discovery import build


creds = service_account.Credentials.from_service_account_file(
    'details-401417-63737f81ecd9.json',
    scopes=['https://www.googleapis.com/auth/spreadsheets']
)


service = build('sheets', 'v4', credentials=creds)
sheet = service.spreadsheets()
result = sheet.values().get(spreadsheetId='1gA16KuX-sIB573dyHp1uLDyiOtELX7WkkQycaxU2dWM', range='Consolidated').execute()

df = pd.DataFrame(result.get('values', []))
print(df)

    0                               1              2                    3   \
0                     Name of the cell  Date of cell   Did the cell happen
1            Sethu baskara school cell      18-7-2023                  Yes
2       Emmanuel methodist church cell      16-7-2023                   No
3       Emmanuel methodist church cell       9-7-2023                   No
4            Sethu baskara school cell      25-7-2023                  Yes
..  ..                             ...            ...                  ...
991
992
993
994
995

                           4                                          5   \
0    No. of students attended                          Students attended
1                           9  Samuel, Caleb Juda, Joshua, Calvin, Jabez
2
3
4                          10          Samuel, Caleb Juda, Calvin, Jabez
..                        ...                                        ...
991
992
993
994
995

                                                    6   \
0                                         New students
1                                Everyone new student
2
3
4    3 new students \n1.Thirumalai Vasan (Non-belie...
..                                                 ...
991
992
993
994
995

                                    7                            8   \
0            Details of cell happening         Bible study taken by
1    Singing, Practical talk, Activity  Staff/ Ministrial assistant
2
3
4       Singing, Bible study, Activity  Staff/ Ministrial assistant
..                                 ...                          ...
991
992
993
994
995

                             9                              10 11 12 13 14  \
0                   Cell led by                        Remarks
1    Staff/Ministrial assistant
2                                Youth members didn't turn up.
3                                    We couldn't go to church.
4    Staff/Ministrial assistant
..                          ...                            ... .. .. .. ..
991
992
993
994
995

                                 15           16         17       18
0                         Cell list  Week number  From date  To date
1       Mar Gregorious college cell           29  18-7-2023     None
2      St. Thomas college boys cell           29  16-7-2023     None
3           Korattur area boys cell           28   9-7-2023     None
4    Emmanuel methodist school cell           30  7/25/2023     None
..                              ...          ...        ...      ...
991                                           52       None     None
992                                           52       None     None
993                                           52       None     None
994                                           52       None     None
995                                           52       None     None

[996 rows x 19 columns]

In [76]:
df.columns = df.iloc[0]
df = df.iloc[1:].reset_index(drop=True)
df

,,Name of the cell,Date of cell,Did the cell happen,No. of students attended,Students attended,New students,Details of cell happening,Bible study taken by,Cell led by,Remarks,,,,,Cell list,Week number,From date,To date
0,,Sethu baskara school cell,18-7-2023,Yes,9,"Samuel, Caleb Juda, Joshua, Calvin, Jabez",Everyone new student,"Singing, Practical talk, Activity",Staff/ Ministrial assistant,Staff/Ministrial assistant,,,,,,Mar Gregorious college cell,29,18-7-2023,None
1,,Emmanuel methodist church cell,16-7-2023,No,,,,,,,Youth members didn't turn up.,,,,,St. Thomas college boys cell,29,16-7-2023,None
2,,Emmanuel methodist church cell,9-7-2023,No,,,,,,,We couldn't go to church.,,,,,Korattur area boys cell,28,9-7-2023,None
3,,Sethu baskara school cell,25-7-2023,Yes,10,"Samuel, Caleb Juda, Calvin, Jabez",3 new students \n1.Thirumalai Vasan (Non-belie...,"Singing, Bible study, Activity",Staff/ Ministrial assistant,Staff/Ministrial assistant,,,,,,Emmanuel methodist school cell,30,7/25/2023,None
4,,St. Thomas college boys cell,1-8-2023,Yes,3,"Calvin, Sam Abishek",One new student ( Richard Sam) believer,"Singing, Sharing time, Bible study, Activity",Staff/ Ministrial assistant,Student,,,,,,Nazarene church cell,31,1-8-2023,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,,,,,,,,,,,,,,,,,52,None,None
991,,,,,,,,,,,,,,,,,52,None,None
992,,,,,,,,,,,,,,,,,52,None,None
993,,,,,,,,,,,,,,,,,52,None,None
994,,,,,,,,,,,,,,,,,52,None,None

In [77]:
dates = df['Date of cell ']

In [78]:
type(dates)

pandas.core.series.Series

In [79]:
import numpy as np
dates = np.array(dates)

In [80]:
# dates = list(filter(None,dates))

weeks = np.array(df['Week number'])
# weeks = list(filter(None,weeks))
weeks

array(['29', '29', '28', '30', '31', '31', '31', '32', '32', '33', '34',
       '33', '34', '34', '35', '36', '35', '36', '37', '36', '36', '38',
       '37', '39', '40', '40', '40', '40', '38', '39', '52', '40', '39',
       '38', '40', '38', '41', '41', '40', '40', '39', '38', '37', '41',
       '41', '40', '40', '36', '41', '39', '38', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52', '52', '52', '52', '52', '52', '52',
       '52', '52', '52', '52', '52'], dtype=object)

In [81]:
cells = np.array(df['Name of the cell'])

In [82]:
# cells = list(filter(None,cells))

In [83]:
did_it_take_place =  df['Did the cell happen']

In [84]:
sept_1 = []
sept_2 = []
sept_3 = []
sept_4 = []
oct_1 = []

for i in range (len(dates)):
    if weeks[i] == '36':
            sept_1.append(df.iloc[i,:10])
    elif weeks[i] == '37':
            sept_2.append(df.iloc[i,:10])
    elif weeks[i] == '38':
            sept_3.append(df.iloc[i,:10])
    elif weeks[i] == '39':
            sept_4.append(df.iloc[i,:10])
    elif weeks[i] == '40':
            oct_1.append(df.iloc[i,:10])

In [85]:
September = {'Week 1':sept_1, 'Week 2':sept_2, 'Week 3':sept_3, 'Week 4':sept_4}

In [86]:
September

{'Week 1': [0

  Name of the cell                      Sethu baskara school cell
  Date of cell                                           5-9-2023
  Did the cell happen                                         Yes
  No. of students attended                                      7
  Students attended            Samuel, Caleb Juda, Joshua, Calvin
  New students                                              Aron
  Details of cell happening        Singing, Bible study, Activity
  Bible study taken by                                   Graduate
  Cell led by                          Staff/Ministrial assistant
  Name: 15, dtype: object,
  0

  Name of the cell                                Emmanuel methodist church cell
  Date of cell                                                          3-9-2023
  Did the cell happen                                                        Yes
  No. of students attended                                                     5
  Students attended                       Joshua, Ruby, Prakash, Vignesh, Shoben
  New students                 Old member name not in the list - Mukilan. Nam...
  Details of cell happening                                           Discussion
  Bible study taken by                                            No Bible Study
  Cell led by                                                           Graduate
  Name: 17, dtype: object,
  0

  Name of the cell               St. Thomas college boys cell
  Date of cell                                       5-9-2023
  Did the cell happen                                     Yes
  No. of students attended                                  4
  Students attended                                    Calvin
  New students
  Details of cell happening    Singing, Bible study, Activity
  Bible study taken by                               Graduate
  Cell led by                      Staff/Ministrial assistant
  Name: 19, dtype: object,
  0

  Name of the cell             Emmanuel Methodist School EBS Boys cell
  Date of cell                                                6-9-2023
  Did the cell happen                                               No
  No. of students attended
  Students attended
  New students
  Details of cell happening
  Bible study taken by
  Cell led by
  Name: 20, dtype: object,
  0

  Name of the cell             Vanagaram area girls cell
  Date of cell                                  4-9-2023
  Did the cell happen                                 No
  No. of students attended
  Students attended
  New students
  Details of cell happening
  Bible study taken by
  Cell led by
  Name: 47, dtype: object],
 'Week 2': [0

  Name of the cell             Emmanuel methodist church cell
  Date of cell                                      10-9-2023
  Did the cell happen                                      No
  No. of students attended
  Students attended
  New students
  Details of cell happening
  Bible study taken by
  Cell led by
  Name: 18, dtype: object,
  0

  Name of the cell                              Mar Gregorious college cell
  Date of cell                                                    15-9-2023
  Did the cell happen                                                   Yes
  No. of students attended                                                4
  Students attended                       Joel Nehemiah, Rufus, Abel, Benny
  New students
  Details of cell happening    Singing, Sharing time, Bible study, Activity
  Bible study taken by                                             Graduate
  Cell led by                                                      Graduate
  Name: 22, dtype: object,
  0

  Name of the cell                              Kolathur girls cell (online)
  Date of cell                                                     16-9-2023
  Did the cell happen                                                    Yes
  No. of students attended                                                 4
  Students attended            Nissi Persis, Sarah Selina, Jessica, Angeline
  New students
  Details of cell happening     Singing, Sharing time, Bible study, Activity
  Bible study taken by                                              Graduate
  Cell led by                                                       Graduate
  Name: 42, dtype: object],
 'Week 3': [0

  Name of the cell                       MMM college nursing cell
  Date of cell                                          18-9-2023
  Did the cell happen                                         Yes
  No. of students attended                                      3
  Students attended                                        Praisy
  New students                                                 No
  Details of cell happening    Singing, Sharing time, Bible study
  Bible study taken by                Staff/ Ministrial assistant
  Cell led by                                             Student
  Name: 21, dtype: object,
  0

  Name of the cell              Emmanuel methodist school cell
  Date of cell                                       22-9-2023
  Did the cell happen                                      Yes
  No. of students attended                                   4
  Students attended            Rolland, Dhanush, Jabez, Kamesh
  New students                                          No...
  Details of cell happening               Singing, Bible study
  Bible study taken by                                Graduate
  Cell led by                                         Graduate
  Name: 28, dtype: object,
  0

  Name of the cell                                Emmanuel methodist school cell
  Date of cell                                                         22-9-2023
  Did the cell happen                                                        Yes
  No. of students attended                                                     4
  Students attended                              Rolland, Dhanush, Jabez, Kamesh
  New students                                                                No
  Details of cell happening    Singing, Sharing time, Bible study, Practical ...
  Bible study taken by                               Staff/ Ministrial assistant
  Cell led by                                                            Student
  Name: 33, dtype: object,
  0

  Name of the cell                                     Anna Nagar area boys cell
  Date of cell                                                         23-9-2023
  Did the cell happen                                                        Yes
  No. of students attended                                                     4
  Students attended                                                       Roshan
  New students                                                              None
  Details of cell happening    Singing, Sharing time, Bible study, Practical ...
  Bible study taken by                                                  Graduate
  Cell led by                                         Staff/Ministrial assistant
  Name: 35, dtype: object,
  0

  Name of the cell                             Kolathur girls cell (online)
  Date of cell                                                    23-9-2023
  Did the cell happen                                                   Yes
  No. of students attended                                                3
  Students attended                     Nissi Persis, Sarah Selina, Jessica
  New students
  Details of cell happening    Singing, Sharing time, Bible study, Activity
  Bible study taken by                                             Graduate
  Cell led by                                                       Student
  Name: 41, dtype: object,
  0

  Name of the cell             Vanagaram area girls cell
  Date of cell                                 17-9-2023
  Did the cell happen                                 No
  No. of students attended
  Students attended
  New students
  Details of cell happening
  Bible study taken by
  Cell led by
  Name: 50, dtype: object],
 'Week 4': [0

  Name of the cell             Sethu Baskara school cell
  Date of cell                                 27-9-2023
  Did the cell happen                                 No
  No. of students attended
  Students attended
  New students
  Details of cell happening
  Bible study taken by
  Cell led by
  Name: 23, dtype: object,
  0

  Name of the cell             Emmanuel methodist school cell
  Date of cell                                      29-9-2023
  Did the cell happen                                     Yes
  No. of students attended                                  3
  Students attended                    Dhanush, Jabez, Kamesh
  New students
  Details of cell happening    Singing, Bible study, Activity
  Bible study taken by                               Graduate
  Cell led by                                        Graduate
  Name: 29, dtype: object,
  0

  Name of the cell                                Emmanuel methodist school cell
  Date of cell                                                         29-9-2023
  Did the cell happen                                                        Yes
  No. of students attended                                                     5
  Students attended                     Rolland, Dhanush, Jabez, Kamesh, Thivesh
  New students                                                                No
  Details of cell happening    Singing, Sharing time, Practical talk, Only Sp...
  Bible study taken by                               Staff/ Ministrial assistant
  Cell led by                                         Staff/Ministrial assistant
  Name: 32, dtype: object,
  0

  Name of the cell                             Kolathur girls cell (online)
  Date of cell                                                    30-9-2023
  Did the cell happen                                                   Yes
  No. of students attended                                                3
  Students attended                         Nissi Persis, Jessica, Angeline
  New students
  Details of cell happening    Singing, Sharing time, Bible study, Activity
  Bible study taken by                                             Graduate
  Cell led by                                                       Student
  Name: 40, dtype: object,
  0

  Name of the cell             Vanagaram area girls cell
  Date of cell                                 24-9-2023
  Did the cell happen                                 No
  No. of students attended
  Students attended
  New students
  Details of cell happening
  Bible study taken by
  Cell led by
  Name: 49, dtype: object]}

In [87]:
October = {'Week 1':oct_1}
October

{'Week 1': [0

  Name of the cell                                      MMM college nursing cell
  Date of cell                                                         2-10-2023
  Did the cell happen                                                        Yes
  No. of students attended                                                     3
  Students attended                                                       Praisy
  New students                                                                No
  Details of cell happening    Singing, Sharing time, Bible study, Practical ...
  Bible study taken by                                                  Graduate
  Cell led by                                                            Student
  Name: 24, dtype: object,
  0

  Name of the cell                         St. Thomas college boys cell
  Date of cell                                                3-10-2023
  Did the cell happen                                               Yes
  No. of students attended                                            3
  Students attended            Calvin, Richard sam, Vignesh, Paul moses
  New students                                                    No..
  Details of cell happening              Singing, Bible study, Activity
  Bible study taken by                      Staff/ Ministrial assistant
  Cell led by                                                   Student
  Name: 25, dtype: object,
  0

  Name of the cell                              Sethu baskara school cell
  Date of cell                                                  3-10-2023
  Did the cell happen                                                 Yes
  No. of students attended                                              8
  Students attended            Steve, Allen, Immanuel, Samuel, Juda, Paul
  New students                                                    Logesh
  Details of cell happening             Singing, Practical talk, Activity
  Bible study taken by                        Staff/ Ministrial assistant
  Cell led by                                                    Graduate
  Name: 26, dtype: object,
  0

  Name of the cell                       Emmanuel Methodist School EBS Boys cell
  Date of cell                                                         4-10-2023
  Did the cell happen                                                        Yes
  No. of students attended                                                    15
  Students attended            Rishe, Sundar, Raj Kumar, Mohan Kumar, Sivapra...
  New students                                                            No...
  Details of cell happening                       Singing, Bible study, Activity
  Bible study taken by                                Staff/Ministrial assistant
  Cell led by                                         Staff/Ministrial assistant
  Name: 27, dtype: object,
  0

  Name of the cell                           Emmanuel methodist school cell
  Date of cell                                                    6-10-2023
  Did the cell happen                                                   Yes
  No. of students attended                                                4
  Students attended                         Rolland, Dhanush, Jabez, Kamesh
  New students                                                           No
  Details of cell happening    Singing, Sharing time, Bible study, Activity
  Bible study taken by                          Staff/ Ministrial assistant
  Cell led by                                    Staff/Ministrial assistant
  Name: 31, dtype: object,
  0

  Name of the cell                              Korattur area boys cell
  Date of cell                                                7-10-2023
  Did the cell happen                                               Yes
  No. of students attended                                            3
  Students attended            Sharon Raj, Paul Theophilus, Neil Marcus
  New students                                                       No
  Details of cell happening        Singing, Bible study, Practical talk
  Bible study taken by                      Staff/ Ministrial assistant
  Cell led by                                                  Graduate
  Name: 34, dtype: object,
  0

  Name of the cell             Vanagaram area boys cell
  Date of cell                                2-10-2023
  Did the cell happen                                No
  No. of students attended
  Students attended
  New students
  Details of cell happening
  Bible study taken by
  Cell led by
  Name: 38, dtype: object,
  0

  Name of the cell             Kolathur girls cell (online)
  Date of cell                                    7-10-2023
  Did the cell happen                                    No
  No. of students attended
  Students attended
  New students
  Details of cell happening
  Bible study taken by
  Cell led by
  Name: 39, dtype: object,
  0

  Name of the cell                                     Anna Nagar area boys cell
  Date of cell                                                         5-10-2023
  Did the cell happen                                                        Yes
  No. of students attended                                                     4
  Students attended                                                       Roshan
  New students
  Details of cell happening    Singing, Sharing time, Bible study, Practical ...
  Bible study taken by                                                  Graduate
  Cell led by                                                           Graduate
  Name: 45, dtype: object,
  0

  Name of the cell                       Anna Adarsh college cell
  Date of cell                                          5-10-2023
  Did the cell happen                                         Yes
  No. of students attended                                      2
  Students attended                                 Blessy, Agnes
  New students                                                 No
  Details of cell happening    Singing, Sharing time, Bible study
  Bible study taken by                Staff/ Ministrial assistant
  Cell led by                          Staff/Ministrial assistant
  Name: 46, dtype: object]}

In [88]:
type(oct_1)

list

In [89]:
values = []

for i in range(len(weeks)):
    if(int(weeks[i]) == 40):
        values.append(i)
values

[24, 25, 26, 27, 31, 34, 38, 39, 45, 46]

In [90]:
print('-----CELLS THAT HAPPENED-----')
print()
for i in values:
    if(did_it_take_place[i][0] == 'Y'):
        print(cells[i])
print()
print()
print('-----CELLS THAT DIDNT HAPPEN-----')
print()
for i in values:
    if(did_it_take_place[i][0] == 'N'):
        print(cells[i])

-----CELLS THAT HAPPENED-----

MMM college nursing cell
St. Thomas college boys cell
Sethu baskara school cell
Emmanuel Methodist School EBS Boys cell
Emmanuel methodist school cell
Korattur area boys cell
Anna Nagar area boys cell
Anna Adarsh college cell


-----CELLS THAT DIDNT HAPPEN-----

Vanagaram area boys cell
Kolathur girls cell (online)

In [91]:
cellList = df['Cell list']

In [92]:
# cellList = list(set(list(np.array(cellList))))
cellList = list(set(list(np.array(cellList))))

In [93]:
cellList.remove('')

In [94]:
cellList

['MMM college nursing cell',
 'Vanagaram area boys cell',
 'Kolathur girls cell (online)',
 'Anna Adarsh college cell',
 'Sethu baskara school cell',
 'Anna Nagar area boys cell',
 'Pudur Area Girls cell',
 'Vanagaram area girls cell',
 'St. Thomas college boys cell',
 'Mar Gregorious college cell',
 'Emmanuel methodist school cell',
 'Nazarene church cell',
 'Korattur area boys cell',
 'Emmanuel Methodist School EBS Boys cell',
 'St. Thomas college girls cell',
 'Emmanuel Methodist School EBS Girls cell',
 'Valliammal college cell',
 'Emmanuel methodist church cell']

In [95]:
oct_1[0][1]

'MMM college nursing cell'

In [96]:
print(len(oct_1))

10

In [97]:
cellsOct_1 = []
for i in range(len(oct_1)):
    cellsOct_1.append(oct_1[i][1])

In [102]:
cells_didnt_fill_Oct_1 = [item for item in cellList if item not in cellsOct_1]
cells_didnt_fill_Oct_1

['Pudur Area Girls cell',
 'Vanagaram area girls cell',
 'Mar Gregorious college cell',
 'Nazarene church cell',
 'St. Thomas college girls cell',
 'Emmanuel Methodist School EBS Girls cell',
 'Valliammal college cell',
 'Emmanuel methodist church cell']

In [100]:
for i in range (len(weeks)):
    if int(weeks[i]) == 41:
            print(df.iloc[i,:10])

0

Name of the cell             Nazarene church cell
Date of cell                            8-10-2023
Did the cell happen                            No
No. of students attended
Students attended
New students
Details of cell happening
Bible study taken by
Cell led by
Name: 36, dtype: object
0

Name of the cell                       Vanagaram area boys cell
Date of cell                                          8-10-2023
Did the cell happen                                         Yes
No. of students attended                                      3
Students attended                     Sam Israel, Melfin, Kevin
New students
Details of cell happening    Singing, Sharing time, Bible study
Bible study taken by                                   Graduate
Cell led by                                            Graduate
Name: 37, dtype: object
0

Name of the cell             Mar Gregorios college cell
Date of cell                                  9-10-2023
Did the cell happen                                  No
No. of students attended
Students attended
New students
Details of cell happening
Bible study taken by
Cell led by
Name: 43, dtype: object
0

Name of the cell             Emmanuel methodist church cell
Date of cell                                      8-10-2023
Did the cell happen                                      No
No. of students attended
Students attended
New students
Details of cell happening
Bible study taken by
Cell led by
Name: 44, dtype: object
0

Name of the cell             Vanagaram area girls cell
Date of cell                                 8-10-2023
Did the cell happen                                 No
No. of students attended
Students attended
New students
Details of cell happening
Bible study taken by
Cell led by
Name: 48, dtype: object

In [101]:
cellsSept_1 = []
cellsSept_2 = []
cellsSept_3 = []
cellsSept_4 = []


for i in range(len(sept_1)):
    cellsSept_1.append(sept_1[i][1])
    
for i in range(len(sept_2)):
    cellsSept_2.append(sept_2[i][1])
    
for i in range(len(sept_3)):
    cellsSept_3.append(sept_3[i][1])
    
for i in range(len(sept_4)):
    cellsSept_4.append(sept_4[i][1])

In [103]:
cells_didnt_fill_Sept_1 = [item for item in cellList if item not in cellsSept_1]
cells_didnt_fill_Sept_2 = [item for item in cellList if item not in cellsSept_2]
cells_didnt_fill_Sept_3 = [item for item in cellList if item not in cellsSept_3]
cells_didnt_fill_Sept_4 = [item for item in cellList if item not in cellsSept_4]

In [104]:
cells_didnt_fill_Sept_1

['MMM college nursing cell',
 'Vanagaram area boys cell',
 'Kolathur girls cell (online)',
 'Anna Adarsh college cell',
 'Anna Nagar area boys cell',
 'Pudur Area Girls cell',
 'Mar Gregorious college cell',
 'Emmanuel methodist school cell',
 'Nazarene church cell',
 'Korattur area boys cell',
 'St. Thomas college girls cell',
 'Emmanuel Methodist School EBS Girls cell',
 'Valliammal college cell']

In [105]:
cells_didnt_fill_Sept_2

['MMM college nursing cell',
 'Vanagaram area boys cell',
 'Anna Adarsh college cell',
 'Sethu baskara school cell',
 'Anna Nagar area boys cell',
 'Pudur Area Girls cell',
 'Vanagaram area girls cell',
 'St. Thomas college boys cell',
 'Emmanuel methodist school cell',
 'Nazarene church cell',
 'Korattur area boys cell',
 'Emmanuel Methodist School EBS Boys cell',
 'St. Thomas college girls cell',
 'Emmanuel Methodist School EBS Girls cell',
 'Valliammal college cell']

In [106]:
cells_didnt_fill_Sept_3

['Vanagaram area boys cell',
 'Anna Adarsh college cell',
 'Sethu baskara school cell',
 'Pudur Area Girls cell',
 'St. Thomas college boys cell',
 'Mar Gregorious college cell',
 'Nazarene church cell',
 'Korattur area boys cell',
 'Emmanuel Methodist School EBS Boys cell',
 'St. Thomas college girls cell',
 'Emmanuel Methodist School EBS Girls cell',
 'Valliammal college cell',
 'Emmanuel methodist church cell']

In [107]:
cells_didnt_fill_Sept_4

['MMM college nursing cell',
 'Vanagaram area boys cell',
 'Anna Adarsh college cell',
 'Sethu baskara school cell',
 'Anna Nagar area boys cell',
 'Pudur Area Girls cell',
 'St. Thomas college boys cell',
 'Mar Gregorious college cell',
 'Nazarene church cell',
 'Korattur area boys cell',
 'Emmanuel Methodist School EBS Boys cell',
 'St. Thomas college girls cell',
 'Emmanuel Methodist School EBS Girls cell',
 'Valliammal college cell',
 'Emmanuel methodist church cell']

In [108]:
cellsSept_1

['Sethu baskara school cell',
 'Emmanuel methodist church cell',
 'St. Thomas college boys cell',
 'Emmanuel Methodist School EBS Boys cell',
 'Vanagaram area girls cell']

In [109]:
cellsSept_2

['Emmanuel methodist church cell',
 'Mar Gregorious college cell',
 'Kolathur girls cell (online)']

In [110]:
cellsSept_3

['MMM college nursing cell',
 'Emmanuel methodist school cell',
 'Emmanuel methodist school cell',
 'Anna Nagar area boys cell',
 'Kolathur girls cell (online)',
 'Vanagaram area girls cell']

In [111]:
cellsSept_4

['Sethu Baskara school cell',
 'Emmanuel methodist school cell',
 'Emmanuel methodist school cell',
 'Kolathur girls cell (online)',
 'Vanagaram area girls cell']