In [1]:
import pandas as pd
from google.oauth2 import service_account
from googleapiclient.discovery import build


creds = service_account.Credentials.from_service_account_file(
    'details-401417-63737f81ecd9.json',
    scopes=['https://www.googleapis.com/auth/spreadsheets']
)


service = build('sheets', 'v4', credentials=creds)
sheet = service.spreadsheets()
result = sheet.values().get(spreadsheetId='1gA16KuX-sIB573dyHp1uLDyiOtELX7WkkQycaxU2dWM', range='Consolidated').execute()

df = pd.DataFrame(result.get('values', []))
print(df)

                                          0   \
0                                  Cell list
1                Mar Gregorious college cell
2               St. Thomas college boys cell
3                    Korattur area boys cell
4             Emmanuel methodist school cell
5                       Nazarene church cell
6             Emmanuel methodist church cell
7              St. Thomas college girls cell
8                   Vanagaram area boys cell
9                   MMM college nursing cell
10                 Anna Nagar area boys cell
11                   Valliammal college cell
12                 Sethu baskara school cell
13   Emmanuel Methodist School EBS Boys cell
14  Emmanuel Methodist School EBS Girls cell
15                     Pudur Area Girls cell
16                 Vanagaram area girls cell
17              Kolathur girls cell (online)
18                  Anna Adarsh college cell
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43

                                         1              2   \
0                          Name of the cell  Date of cell
1                 Sethu baskara school cell      7/18/2023
2            Emmanuel methodist church cell      7/16/2023
3            Emmanuel methodist church cell       7/9/2023
4                 Sethu baskara school cell      7/25/2023
5              St. Thomas college boys cell       8/1/2023
6                 Sethu baskara school cell       8/1/2023
7            Emmanuel methodist school cell       8/5/2023
8              St. Thomas college boys cell       8/8/2023
9                 Sethu baskara school cell       8/8/2023
10                Sethu baskara school cell      8/16/2023
11                     Nazarene church cell      8/20/2023
12                  Korattur area boys cell      8/19/2023
13                Sethu baskara school cell      8/22/2023
14                 MMM college nursing cell      8/21/2023
15              Mar Gregorious college cell       9/1/2023
16                Sethu baskara school cell       9/5/2023
17                     Nazarene church cell      8/27/2023
18           Emmanuel methodist church cell       9/3/2023
19           Emmanuel methodist church cell      9/10/2023
20             St. Thomas college boys cell       9/5/2023
21  Emmanuel Methodist School EBS Boys cell       9/6/2023
22                 MMM college nursing cell      9/18/2023
23              Mar Gregorious college cell      9/15/2023
24                Sethu Baskara school cell      9/27/2023
25                 MMM college nursing cell      10/2/2023
26             St. Thomas college boys cell      10/3/2023
27                Sethu baskara school cell      10/3/2023
28  Emmanuel Methodist School EBS Boys cell      10/4/2023
29           Emmanuel methodist school cell      9/22/2023
30           Emmanuel methodist school cell      9/29/2023
31                 MMM college nursing cell      10/2/2023
32           Emmanuel methodist school cell      10/6/2023
33           Emmanuel methodist school cell      9/29/2023
34           Emmanuel methodist school cell      9/22/2023
35                  Korattur area boys cell      10/7/2023
36                Anna Nagar area boys cell      9/23/2023
37                     Nazarene church cell      10/8/2023
38                 Vanagaram area boys cell      10/8/2023
39                 Vanagaram area boys cell      10/2/2023
40             Kolathur girls cell (online)      10/7/2023
41             Kolathur girls cell (online)      9/30/2023
42             Kolathur girls cell (online)      9/23/2023
43             Kolathur girls cell (online)      9/16/2023

                     3                         4   \
0   Did the cell happen  No. of students attended
1                   Yes                         9
2                    No
3                    No
4                   Yes                        10
5                   Yes                         3
6                   Yes                         3
7                   Yes            Four Students
8                   Yes                         2
9                   Yes                         7
10                  Yes                         4
11                  Yes                        10
12                  Yes                         4
13                  Yes                        10
14                  Yes                         3
15                  Yes                         5
16                  Yes                         7
17                   No
18                  Yes                         5
19                   No
20                  Yes                         4
21                   No
22                  Yes                         3
23                  Yes                         4
24                   No
25                  Yes                         3
26                  Yes                         3
27                  Yes                         8
28                  Yes                        15
29                  Yes                         4
30                  Yes                         3
31                  Yes                         3
32                  Yes                         4
33                  Yes                         5
34                  Yes                         4
35                  Yes                         3
36                  Yes                         4
37                   No
38                  Yes                         3
39                   No
40                   No
41                  Yes                         3
42                  Yes                         3
43                  Yes                         4

                                                   5   \
0                                   Students attended
1           Samuel, Caleb Juda, Joshua, Calvin, Jabez
2
3
4                   Samuel, Caleb Juda, Calvin, Jabez
5                                 Calvin, Sam Abishek
6                           Caleb Juda, Joshua, Jabez
7                              Dhanush, Jabez, Kamesh
8                                              Calvin
9           Samuel, Caleb Juda, Joshua, Calvin, Jabez
10                                         Caleb Juda
11  Angel, Rosy, Catherine, Sneha, Justin, King so...
12                        Sharon Raj, Paul Theophilus
13                                             Samuel
14                                             Praisy
15                               Joel Nehemiah, Rufus
16                 Samuel, Caleb Juda, Joshua, Calvin
17
18             Joshua, Ruby, Prakash, Vignesh, Shoben
19
20                                             Calvin
21
22                                             Praisy
23                  Joel Nehemiah, Rufus, Abel, Benny
24
25                                             Praisy
26           Calvin, Richard sam, Vignesh, Paul moses
27         Steve, Allen, Immanuel, Samuel, Juda, Paul
28  Rishe, Sundar, Raj Kumar, Mohan Kumar, Sivapra...
29                    Rolland, Dhanush, Jabez, Kamesh
30                             Dhanush, Jabez, Kamesh
31                                               -NA-
32                    Rolland, Dhanush, Jabez, Kamesh
33           Rolland, Dhanush, Jabez, Kamesh, Thivesh
34                    Rolland, Dhanush, Jabez, Kamesh
35           Sharon Raj, Paul Theophilus, Neil Marcus
36                                             Roshan
37
38                          Sam Israel, Melfin, Kevin
39
40
41                    Nissi Persis, Jessica, Angeline
42                Nissi Persis, Sarah Selina, Jessica
43      Nissi Persis, Sarah Selina, Jessica, Angeline

                                                   6   \
0                                        New students
1                               Everyone new student
2
3
4   3 new students \n1.Thirumalai Vasan (Non-belie...
5             One new student ( Richard Sam) believer
6                                                  No
7                                            Thivesh
8                                               No...
9                                              No...
10                                                 No
11                                          Elizabeth
12                        Wilson Promoth, Neil Marcus
13
14                                                 No
15              2  students ( Benny & Abel's friend)
16                                              Aron
17
18  Old member name not in the list - Mukilan. Nam...
19
20
21
22                                                 No
23
24
25                                                 No
26                                              No..
27                                            Logesh
28                                             No...
29                                             No...
30
31                                                 No
32                                                 No
33                                                 No
34                                                 No
35                                                 No
36                                               None
37
38
39
40
41
42
43

                                                   7   \
0                           Details of cell happening
1                   Singing, Practical talk, Activity
2
3
4                      Singing, Bible study, Activity
5        Singing, Sharing time, Bible study, Activity
6                      Singing, Bible study, Activity
7                      Singing, Bible study, Activity
8                             Singing, Practical talk
9                      Singing, Bible study, Activity
10                     Singing, Bible study, Activity
11                               Singing, Bible study
12     Singing, Bible study, Practical talk, Activity
13                     Singing, Bible study, Activity
14  Singing, Sharing time, Bible study, Practical ...
15                  Singing, Practical talk, Activity
16                     Singing, Bible study, Activity
17
18                                         Discussion
19
20                     Singing, Bible study, Activity
21
22                 Singing, Sharing time, Bible study
23       Singing, Sharing time, Bible study, Activity
24
25  Singing, Sharing time, Bible study, Practical ...
26                     Singing, Bible study, Activity
27                  Singing, Practical talk, Activity
28                     Singing, Bible study, Activity
29                               Singing, Bible study
30                     Singing, Bible study, Activity
31  Singing, Sharing time, Bible study, Practical ...
32       Singing, Sharing time, Bible study, Activity
33  Singing, Sharing time, Practical talk, Only Sp...
34  Singing, Sharing time, Bible study, Practical ...
35               Singing, Bible study, Practical talk
36  Singing, Sharing time, Bible study, Practical ...
37
38                 Singing, Sharing time, Bible study
39
40
41       Singing, Sharing time, Bible study, Activity
42       Singing, Sharing time, Bible study, Activity
43       Singing, Sharing time, Bible study, Activity

                             8                           9   ...  \
0          Bible study taken by                 Cell led by  ...
1   Staff/ Ministrial assistant  Staff/Ministrial assistant  ...
2                                                            ...
3                                                            ...
4   Staff/ Ministrial assistant  Staff/Ministrial assistant  ...
5   Staff/ Ministrial assistant                     Student  ...
6   Staff/ Ministrial assistant  Staff/Ministrial assistant  ...
7   Staff/ Ministrial assistant  Staff/Ministrial assistant  ...
8   Staff/ Ministrial assistant                     Student  ...
9   Staff/ Ministrial assistant  Staff/Ministrial assistant  ...
10  Staff/ Ministrial assistant  Staff/Ministrial assistant  ...
11                      Student                     Student  ...
12                     Graduate                    Graduate  ...
13  Staff/ Ministrial assistant  Staff/Ministrial assistant  ...
14  Staff/ Ministrial assistant  Staff/Ministrial assistant  ...
15   Staff/Ministrial assistant  Staff/Ministrial assistant  ...
16                     Graduate  Staff/Ministrial assistant  ...
17                                                           ...
18               No Bible Study                    Graduate  ...
19                                                           ...
20                     Graduate  Staff/Ministrial assistant  ...
21                                                           ...
22  Staff/ Ministrial assistant                     Student  ...
23                     Graduate                    Graduate  ...
24                                                           ...
25                     Graduate                     Student  ...
26  Staff/ Ministrial assistant                     Student  ...
27  Staff/ Ministrial assistant                    Graduate  ...
28   Staff/Ministrial assistant  Staff/Ministrial assistant  ...
29                     Graduate                    Graduate  ...
30                     Graduate                    Graduate  ...
31                     Graduate                     Student  ...
32  Staff/ Ministrial assistant  Staff/Ministrial assistant  ...
33  Staff/ Ministrial assistant  Staff/Ministrial assistant  ...
34  Staff/ Ministrial assistant                     Student  ...
35  Staff/ Ministrial assistant                    Graduate  ...
36                     Graduate  Staff/Ministrial assistant  ...
37                                                           ...
38                     Graduate                    Graduate  ...
39                                                           ...
40                                                           ...
41                     Graduate                     Student  ...
42                     Graduate                     Student  ...
43                     Graduate                    Graduate  ...

                             13                   14  \
0                          None                 None
1                          None                 None
2                          None                 None
3                          None                 None
4                 Date of cell   Did the cell happen
5   Mar Gregorious college cell             9/1/2023
6   Mar Gregorious college cell            9/15/2023
7                          None                 None
8                          None                 None
9                          None                 None
10                         None                 None
11                         None                 None
12                         None                 None
13                         None                 None
14                         None                 None
15                         None                 None
16                         None                 None
17                         None                 None
18                         None                 None
19                         None                 None
20                         None                 None
21                         None                 None
22                         None                 None
23                         None                 None
24                         None                 None
25                         None                 None
26                         None                 None
27                         None                 None
28                         None                 None
29                         None                 None
30                         None                 None
31                         None                 None
32                         None                 None
33                         None                 None
34                         None                 None
35                         None                 None
36                         None                 None
37                         None                 None
38                         None                 None
39                         None                 None
40                         None                 None
41                         None                 None
42                         None                 None
43                         None                 None

                          15                 16  \
0                       None               None
1                       None               None
2                       None               None
3                       None               None
4   No. of students attended  Students attended
5                        Yes                  5
6                        Yes                  4
7                       None               None
8                       None               None
9                       None               None
10                      None               None
11                      None               None
12                      None               None
13                      None               None
14                      None               None
15                      None               None
16                      None               None
17                      None               None
18                      None               None
19                      None               None
20                      None               None
21                      None               None
22                      None               None
23                      None               None
24                      None               None
25                      None               None
26                      None               None
27                      None               None
28                      None               None
29                      None               None
30                      None               None
31                      None               None
32                      None               None
33                      None               None
34                      None               None
35                      None               None
36                      None               None
37                      None               None
38                      None               None
39                      None               None
40                      None               None
41                      None               None
42                      None               None
43                      None               None

                                   17                                     18  \
0                                None                                   None
1                                None                                   None
2                                None                                   None
3                                None                                   None
4                        New students              Details of cell happening
5                Joel Nehemiah, Rufus  2  students ( Benny & Abel's friend)
6   Joel Nehemiah, Rufus, Abel, Benny
7                                None                                   None
8                                None                                   None
9                                None                                   None
10                               None                                   None
11                               None                                   None
12                               None                                   None
13                               None                                   None
14                               None                                   None
15                               None                                   None
16                               None                                   None

In [2]:
dates = df[2]

In [3]:
type(dates)

pandas.core.series.Series

In [4]:
import numpy as np
dates = np.array(dates)

In [5]:
dates = list(filter(None,dates))

In [6]:
cells = np.array(df[1])

In [7]:
cells = list(filter(None,cells))

In [8]:
did_it_take_place =  list(filter(None,np.array(df[3])))

In [9]:
values=[]
cells_that_took_place = []
cells_that_didnt_take_place = []
# date = [i for i in range(49,60)]
# oct_2 = [i for i in range]
for i in range (2,len(dates)) :
    if(int(dates[i][0])==1):
        values.append(i)
#         print(f' {dates[i]} {cells[i]}\t{did_it_take_place[i]}')
        if(did_it_take_place[i][0]=='Y'):
            cells_that_took_place.append(cells[i])
        else:
            cells_that_didnt_take_place.append(cells[i])

In [10]:
cells_that_took_place

['MMM college nursing cell',
 'St. Thomas college boys cell',
 'Sethu baskara school cell',
 'Emmanuel Methodist School EBS Boys cell',
 'MMM college nursing cell',
 'Emmanuel methodist school cell',
 'Korattur area boys cell',
 'Vanagaram area boys cell']

In [11]:
cells_that_didnt_take_place

['Nazarene church cell',
 'Vanagaram area boys cell',
 'Kolathur girls cell (online)']